{% include 'peliculas/cabecera.html' %}
{% load widget_tweaks %}

<div class="container">
    {% if director_id %}
    <form action="{% url 'modificar_director' %}" method="post">
    {% else %}
    <form action="{% url 'anadir_director' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre y Apellidos</label>
            {% render_field form.nombre_apellidos class='form-control' size='10' placeholder=form.nombre_apellidos.label %}
            {{ form.nombre_apellidos.errors }}
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Nacionalidad</label>
            {% render_field form.nacionalidad class='form-control' size='10' placeholder=form.nacionalidad.label %}
            {{ form.nacionalidad.errors }}
        </div>
        {% if director_id %}
        <input type="hidden" name="director_id" value="{{ director_id }}"/>
        <button type="submit" class="btn btn-primary">Modificar</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Alta</button>
        {% endif %}
    </form>
    <br/>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
</div>
<br/>

{% include 'peliculas/pie.html' %}